<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Rapid.id">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>



    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name=".AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_rapih"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_rapih_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

<!--        <service-->
<!--            android:name=".FetchAddressIntentService"-->
<!--            android:exported="false"/>-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>



        <activity android:name=".SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Konsumen.LoginKonsumenActivity" />
        <activity android:name=".Konsumen.DaftarKonsumenActivity" />
        <activity android:name=".MenuPilihanActivity" />
        <activity android:name=".Konsumen.HomeKonsumenActivity" />
        <activity android:name=".Mitra.LoginMitraActivity" />
        <activity android:name=".Mitra.DaftarMitraActivity" />
        <activity android:name=".Mitra.HomeMitraActivity" />

        <activity android:name=".MenuPilihanMitraActivity"/>
        <activity android:name=".MitraBadanUsaha.DaftarMitraBuActivity"/>
        <activity android:name=".Konsumen.RenovKonsumenActivity"/>
        <activity android:name=".Konsumen.MapsActivity"/>
        <activity android:name=".Konsumen.OrderRenovActivity"/>
        <activity android:name=".Konsumen.OrderRenovRetroActivity"/>



    </application>

</manifest>