<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.Rapih.id">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>



    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:resizeable="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />

    <application
        android:name="com.Rapih.id.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_rapih"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_rapih_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"

        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

<!--        <service-->
<!--            android:name=".FetchAddressIntentService"-->
<!--            android:exported="false"/>-->

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key"/>

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>


        <activity android:name="com.Rapih.id.SplashscreenActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Firebase.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name="com.Rapih.id.Konsumen.LoginKonsumenActivity" />
        <activity android:name="com.Rapih.id.Konsumen.DaftarKonsumenActivity" />
        <activity android:name="com.Rapih.id.MenuPilihanActivity" />
        <activity android:name="com.Rapih.id.Konsumen.HomeKonsumenActivity" />
        <activity android:name="com.Rapih.id.MitraAc.LoginMitraAcActivity" />
        <activity android:name="com.Rapih.id.Mitra.DaftarMitraActivity" />
        <activity android:name="com.Rapih.id.Mitra.HomeMitraActivity" />

        <activity android:name="com.Rapih.id.MenuPilihanMitraActivity"/>
        <activity android:name="com.Rapih.id.MitraBadanUsaha.DaftarMitraBuActivity"/>
        <activity android:name="com.Rapih.id.Konsumen.RenovKonsumenActivity"/>
        <activity android:name="com.Rapih.id.Konsumen.MapsActivity"/>
        <activity android:name="com.Rapih.id.Konsumen.OrderRenovActivity"/>
        <activity android:name="com.Rapih.id.Konsumen.OrderRenovRetroActivity"/>
        <activity android:name="com.Rapih.id.Konsumen.MenuAc.AcKonsumenActivity"/>
        <activity android:name="com.Rapih.id.Konsumen.MenuAc.OrderAcActivity"/>
        <activity android:name=".MitraAc.DaftarMitraAcActivity"/>
        <activity android:name=".MitraAc.HomeMitraAcActivity"/>
        <activity android:name=".Konsumen.DetailOrderAcKonsumen"/>
        <activity android:name=".MitraAc.DetailOrderMitraAc"/>
        <activity android:name=".Konsumen.DetailOrderRenovKonsumen"/>

        <activity android:name=".Faq.FaqActivity"/>
        <activity android:name=".Faq.FaqDuaActivity"/>
        <activity android:name=".Faq.FaqTigaActivity"/>
        <activity android:name=".Faq.FaqEmpatActivity"/>
        <activity android:name=".Faq.FaqLimaActivity"/>
        <activity android:name=".Faq.FaqEnamActivity"/>
        <activity android:name=".Faq.FaqTujuhActivity"/>
        <activity android:name=".Faq.FaqDelapanActivity"/>
        <activity android:name=".Faq.FaqSembilanActivity"/>
        <activity android:name=".Faq.FaqSepuluhActivity"/>
        <activity android:name=".Faq.FaqSebelasActivity"/>
        <activity android:name=".Faq.FaqDuaBelasActivity"/>
        <activity android:name=".Faq.FaqTigaBelasActivity"/>
        <activity android:name=".FaqPembayaran.FaqPembayaranActivity"/>
        <activity android:name=".FaqPembayaran.FaqPembayaranduaActivity"/>
        <activity android:name=".Faq.FaqEnamBelasActivity"/>
        <activity android:name=".Faq.FaqTujuhBelasActivity"/>
        <activity android:name=".Faq.FaqDelapanBelasActivity"/>
        <activity android:name=".Faq.FaqSembilanBelasActivity"/>
        <activity android:name=".Faq.FaqDuaPuluhActivity"/>
        <activity android:name=".Konsumen.MenuAc.KapasitorAcActivity"/>
        <activity android:name=".Konsumen.MenuAc.MenuLayananAc"/>
        <activity android:name=".Konsumen.MenuAc.CekAcActivity"/>
        <activity android:name=".Konsumen.MenuAc.CuciAcActivity"/>
        <activity android:name=".Konsumen.MenuAc.GantiFreonActivity"/>
        <activity android:name=".Konsumen.MenuAc.IsiUlangFreonActivity"/>
        <activity android:name=".Konsumen.MenuAc.LasAcActivity"/>







    </application>

</manifest>